<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Atlanta commercial property tax discounts 2019" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://saportareport.github.io/tax-discounts/" />
    <meta property="og:image" content="https://saportareport.github.io/tax-discounts/static/tax-discounts-square.JPG" />

    <title>Atlanta commercial property tax discounts 2019</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>
</head>
<body>
<nav role="navigation">
    <a href="https://saportareport.com/" rel="noopener"><img src="{{ url_for('static', filename='SAPORTAREPORT-white-300x40.png') }}"></a>
</nav>
<header>
    <h1>Commercial property tax discounts in Atlanta</h1>
</header>
    <div class="byline">
    By Maggie Lee</a>
    </div>
     Last update: {{ latest_item }} </br>
    <p>Midtown developments have been the biggest beneficiaries of property tax discounts put on track within the city of Atlanta since January, 2019.</p>
    <p>Two authorities offer such incentives in the city: Invest Atlanta and the Development Authority of Fulton County.</p>
    <p>Coverage from <a href="https://saportareport.com/" rel="noopener">SaportaReport.com</a>:</p>
    <a href="https://saportareport.com/fulton-development-authority-signals-support-for-northside-drive-commercial-property-tax-abatement/" rel="noopener">Fulton development authority signals support for Northside Drive commercial property tax abatement</a><br/>
    <a href="https://saportareport.com/fulton-panel-turns-down-buckhead-developer-seeking-incentive/" rel="noopener">Fulton panel turns down Buckhead developer seeking incentive</a><br/>
    <a href="https://saportareport.com/atlanta-taps-the-brakes-on-some-developer-incentives-its-not-alone/" rel="noopener">Atlanta taps the brakes on some developer incentives. It's not alone.</a><br/>
    <a href="https://saportareport.com/no-so-affordable-housing-project-in-buckhead-gets-3-4m-in-tax-incentives-but-why/" rel="noopener">Not-so-affordable housing project in Buckhead gets $3.4M in tax incentives. But why?</a><br/>
    <a href="https://saportareport.com/divided-fulton-board-approves-hotel-tax-breaks-for-buckhead-o4w/" rel="noopener">Divided Fulton board approves hotel tax breaks for Buckhead, O4W</a><br/>
    <a href="https://saportareport.com/developer-property-tax-breaks-in-hot-atlanta-neighborhoods-raising-questions/" rel="noopener">Developer property tax breaks in hot Atlanta neighborhoods raising questions</a><br/>
    <a href="https://saportareport.com/fulton-board-approves-property-tax-breaks-for-buckhead-midtown-developments/" rel="noopener">Fulton board approves property tax breaks for Buckhead, Midtown developments</a><br/>
    <a href="https://saportareport.com/fulton-agency-approves-nearly-100-million-in-property-tax-abatements/" rel="noopener">Fulton agency approves nearly $100 million in property tax abatements</a><br/>

    <p>Total value over 10 years: {{ total | numberFormat }}</p>


    <div id="map" style="width:100%; height:400px;"></div>

    <table border=1 cellpadding=7>
            <tr>
                <th>Name or address</th>
                <th>Abatement value over 10 years</th>
                <th class="no-priority">Project Owner</th>
                <th class="no-priority">Purpose</th>
                <th class="no-priority">Status</th>
                <th class="no-priority">Authority</th>
                <th class="no-priority">Address</th>
            </tr>
            {% for obj in object_list %}
            <tr>
                <td> {{ obj.aka }}</td>
                <td> {{ obj.abatement_value | numberFormat }}</td>
                <td class="no-priority"> {{ obj.proj_owner }}</td>
                <td class="no-priority">{{ obj.purpose }}</td>
                <td class="no-priority">{{ obj.status }} {{ obj.date_of_status }}</td>
                <td class="no-priority">{{ obj.authority }}</td>
                <td class="no-priority">{{ obj.geography }}</td>
            </tr>
            {% endfor %}
    </table>

    <div><a href="{{ url_for('static', filename='abatements.csv') }}" rel="noopener" >Download data as .csv</a></div>

    <script type="text/javascript">
            var map = L.map('map', { scrollWheelZoom: false }).setView([33.75, -84.4], 11);
            var osmLayer = new L.TileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '©OpenStreetMap, ©CartoDB'
            });
            map.addLayer(osmLayer);

            var myStyle = {
                "color": "#ff7800",
                "weight": 5,
                "opacity": 0.65
            };


            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "full_name": "{{ obj.proj_owner }}",
                    "id": "{{ obj._id }}",
                    "radius" : "{{ obj.radius_of_dot }}",
                    "abatement_value" : "{{ obj.abatement_value | numberFormat }}",
                    "aka" : "{{ obj.aka }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.long }}, {{ obj.lat }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };


            var dataLayer =
            L.geoJSON(data, {

                style : function(feature) {
                    return feature.properties;
                },

                pointToLayer : function(feature, latlng) {
                    return L.circleMarker(latlng, {
                        fillColor : "#ff7800",
                        color : "#000",
                        weight : 1,
                        opacity : 1,
                        fillOpacity : 0.8
                    });
                },
                onEachFeature: function (feature, layer) {
                layer.bindPopup(feature.properties.aka + '</br>' + feature.properties.abatement_value)
                }
            }).addTo(map);
            map.addLayer(dataLayer);

        </script>

</body>
</html>
